<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>233312165526-1e36b9td50025tbjnjnmg5r7b8bvf00b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.233312165526-1e36b9td50025tbjnjnmg5r7b8bvf00b</string>
	<key>API_KEY</key>
	<string>AIzaSyBGi3BwwTcDhVnwwY-liacUzkwWmfW6ZKE</string>
	<key>GCM_SENDER_ID</key>
	<string>233312165526</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.driverKangsayur</string>
	<key>PROJECT_ID</key>
	<string>driverkangsayur</string>
	<key>STORAGE_BUCKET</key>
	<string>driverkangsayur.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:233312165526:ios:257002f5bc5f591eb16cb7</string>
</dict>
</plist>